<% include ./components/header.ejs %>

        <main>
            <h2>Liste des utilisateurs</h2>

            <% include ./components/liste-uti.ejs %>
            

         
        </main>
        

<script>
        document.addEventListener('DOMContentLoaded', () => {
            titre =document.querySelector('#titrepage').innerHTML="Accueil"
            
        })
        </script>

        <% include ./components/footer.ejs %>
