
        

          
         
        <script>     
              
            
           
     
            // if()
                   // You can save a cookie like this:
             //    localStorage.setItem('user-email', 'j.noyer@digitalworrkshop.fr');
     
                 // You can send data to server like this:
                 /*  fetch('/api', {
                     method: 'POST',
                     headers: {
                         'Accept': 'application/json',
                         'Content-Type': 'application/json'
                     },
                     body: JSON.stringify({ user: localStorage.getItem('user-email') })
                 })
     
                
     
     
                 .then( response => response.json() )
                 .then( json => console.log(json) )
                 .catch( error => console.error(error) );*/
                
             </script>
</body>
</html>
